<header>
  <nav class="navbar navbar-expand-md navbar-light bg-primary">
    <a class="navbar-brand" href="/urls" style="font-family: Georgia">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls" style="font-family: Georgia">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new" style="font-family: Georgia">Create New URL</a>
        <a class="nav-item nav-link" href="/login" style="font-family: Georgia"></a>
        <a class="nav-item nav-link" href="/register" style="font-family: Georgia"></a>
      </div>
    </div>

  <% if (user) {%>
    <form class="form-inline" method="POST" action="/logout">
      <a class="nav-item nav-link inline">Logged in as <%=user.email%></a>
      <button type="submit" class="btn btn-outline-secondary">Logout</button>
    </form>
    <%} else {%>
    <form method="GET" class="in-line" action="/login">
      <input type="submit" value="Login">
    </form>
    <form  method="GET" class="form-inline" action="/register">
      <input type="submit" value="Register">
    </form>
  <%}%>
    
  </nav>
</header>


<!-- asthetic changes for future maybe? -->
<!-- <nav class="navbar navbar-light" style="background-color: #e3f2fd;"-->
<!-- Navbar content -->
